<!doctype html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>测试铺</title>
    <link rel="stylesheet" type="text/css" href="https://testpoo.github.io/themes/css/markdown.css">
    <link rel="stylesheet" type="text/css" href="https://testpoo.github.io/themes/css/style.css">
    <link rel="shortcut icon" type="image/ico" href="https://testpoo.github.io/themes/img/favicon.ico">
  </head>

  

  <body>
    <div class="sider">
      <div class="categories">
        <div class="title">
          <a href="https://testpoo.github.io">
            <img src="https://testpoo.github.io/themes/img/title.jpg">
            <div class="linkbutton testpoo">测试铺</div>
          </a>
        </div>
        <div class="scrollheight">
          <ul>
            
            <li><a href="https://testpoo.github.io/关于我.html"><label style="color: #38b6fd"></label>&nbsp;关于我</a></li>
            
            <li><a href="https://testpoo.github.io/网址集.html"><label style="color: #38b6fd"></label>&nbsp;网址集</a></li>
            
            <li><a href="https://testpoo.github.io/问题集.html"><label style="color: #38b6fd"></label>&nbsp;问题集</a></li>
            
            <li><a href="https://testpoo.github.io/中国朝代顺序口诀.html"><label style="color: #38b6fd"></label>&nbsp;摘录</a></li>
            
            <li><a href="https://testpoo.github.io/CSS代码小抄.html"><label style="color: #38b6fd"></label>&nbsp;代码小抄</a></li>
            
            <li><a href="https://testpoo.github.io/debian安装设置.html"><label style="color: #38b6fd"></label>&nbsp;系统安装</a></li>
            
            <li><a href="https://testpoo.github.io/Jinja2简介.html"><label style="color: #38b6fd"></label>&nbsp;技术</a></li>
            
            <li><a href="https://testpoo.github.io/Python造假数据神器Faker.html"><label style="color: #38b6fd"></label>&nbsp;测试</a></li>
            
          </ul>
        </div>
        <div class="github"><a href="https://github.com/testpoo" target="_blank" title="GitHub:https://github.com/testpoo"></a><a href="#" title="微信号：puyaweis"></a><a href="#" title="邮箱：pu_yawei@qq.com"></a><a href="https://testpoo.github.io/rss.xml" target="_blank"></a></div>
      </div>
      <div class="articles">
        <div class="category"> 技术</div>
        <div class="scrollheight">
          <ul>
            
            <a href="https://testpoo.github.io/Jinja2简介.html"><li style="background: #f9fafb;border: 0px;"><span><label style="color: #38b6fd"></label>&nbsp;Jinja2简介</span><span>2024-02-29&nbsp;&nbsp;共8808个字</span><span class="tag">jinja2</span><span class="tag">python</span></li></a>
            
            <a href="https://testpoo.github.io/shell三剑客简介.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;shell三剑客简介</span><span>2024-02-29&nbsp;&nbsp;共18477个字</span><span class="tag">linux</span><span class="tag">awk</span><span class="tag">grep</span><span class="tag">sed</span></li></a>
            
            <a href="https://testpoo.github.io/FastApi简析.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;FastApi简析</span><span>2023-12-06&nbsp;&nbsp;共17242个字</span><span class="tag">fastapi</span><span class="tag">python</span></li></a>
            
            <a href="https://testpoo.github.io/go入门.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;go入门</span><span>2023-08-15&nbsp;&nbsp;共23389个字</span><span class="tag">go</span></li></a>
            
            <a href="https://testpoo.github.io/tkinter教程.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;tkinter教程</span><span>2022-11-14&nbsp;&nbsp;共93974个字</span><span class="tag">python</span><span class="tag">tkinter</span></li></a>
            
            <a href="https://testpoo.github.io/mysql函数汇总.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;mysql函数汇总</span><span>2022-04-18&nbsp;&nbsp;共48992个字</span><span class="tag">mysql</span></li></a>
            
            <a href="https://testpoo.github.io/shell简介.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;shell简介</span><span>2022-04-18&nbsp;&nbsp;共14941个字</span><span class="tag">linux</span><span class="tag">shell</span></li></a>
            
            <a href="https://testpoo.github.io/Docker入门教程.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;Docker入门教程</span><span>2022-03-02&nbsp;&nbsp;共16064个字</span><span class="tag">docker</span></li></a>
            
            <a href="https://testpoo.github.io/Python进阶.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;Python进阶</span><span>2021-11-30&nbsp;&nbsp;共39681个字</span><span class="tag">python</span></li></a>
            
            <a href="https://testpoo.github.io/Git简介.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;Git简介</span><span>2021-09-15&nbsp;&nbsp;共29722个字</span><span class="tag">git</span></li></a>
            
            <a href="https://testpoo.github.io/Python正则表达式.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;Python正则表达式</span><span>2021-06-23&nbsp;&nbsp;共21614个字</span><span class="tag">python</span><span class="tag">正则表达式</span></li></a>
            
            <a href="https://testpoo.github.io/mysql的安装.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;mysql的安装</span><span>2020.05.09&nbsp;&nbsp;共8129个字</span><span class="tag">mysql</span><span class="tag">安装</span></li></a>
            
            <a href="https://testpoo.github.io/分分种学会python3.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;分分种学会python3</span><span>2020-05-14&nbsp;&nbsp;共10704个字</span><span class="tag">python</span></li></a>
            
            <a href="https://testpoo.github.io/Markdown笔记.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;Markdown笔记</span><span>2020-04-03&nbsp;&nbsp;共9889个字</span><span class="tag">markdown</span></li></a>
            
            <a href="https://testpoo.github.io/Linux下SVN服务器的搭建.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;Linux下SVN服务器的搭建</span><span>2020-01-01&nbsp;&nbsp;共13069个字</span><span class="tag">svn</span><span class="tag">linux</span></li></a>
            
            <a href="https://testpoo.github.io/mysql笔记.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;mysql笔记</span><span>2019-10-11&nbsp;&nbsp;共4893个字</span><span class="tag">mysql</span></li></a>
            
            <a href="https://testpoo.github.io/python标准异常.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;python标准异常</span><span>2019-10-11&nbsp;&nbsp;共2649个字</span><span class="tag">python</span><span class="tag">标准异常</span></li></a>
            
            <a href="https://testpoo.github.io/svn命令全解.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;svn命令全解</span><span>2019-10-11&nbsp;&nbsp;共3837个字</span><span class="tag">svn</span></li></a>
            
            <a href="https://testpoo.github.io/debian命令apt和dpkg用法.html"><li ><span><label style="color: #38b6fd"></label>&nbsp;debian命令apt和dpkg用法</span><span>2019-07-05&nbsp;&nbsp;共6342个字</span><span class="tag">debian</span><span class="tag">apt</span><span class="tag">dpkg</span></li></a>
            
          </ul>
        </div>
        <div class="item-num">总共19项</div>
      </div>
    </div>
    <div class="main">
      <div class="header"><span>Jinja2简介</span><span>人生如逆旅，我亦是行人。<br />最后更新于2024-08-26 17:19:40</span></div>
      <input class="pswitch ponoff" type="checkbox" id="catalog">
      <div class="posts">
        <div class="toc">
<ul>
<li><a href="#1">1. 简介</a></li>
<li><a href="#2">2. 安装</a><ul>
<li><a href="#21">2.1 依赖项</a></li>
<li><a href="#22">2.2 可选依赖项</a></li>
<li><a href="#23-api">2.3 基本API使用</a></li>
</ul>
</li>
<li><a href="#3-api">3 API</a><ul>
<li><a href="#31">3.1 基础知识</a></li>
<li><a href="#32-api">3.2 高级API</a></li>
</ul>
</li>
<li><a href="#4">4 模板</a></li>
<li><a href="#5">5 集成</a><ul>
<li><a href="#51-flask">5.1 Flask</a></li>
<li><a href="#52-django">5.2 Django</a></li>
</ul>
</li>
<li><a href="#6">6 实例</a></li>
</ul>
</div>
<h3 id="1">1. 简介</h3>
<p>Jinja 是一个快速、表现力强、可扩展的模板引擎。模板中的特殊占位符允许编写类似 Python 语法的代码。然后将数据传递给模板，以渲染最终文档。</p>
<p>特点：</p>
<ul>
<li>
<p>模板继承；</p>
</li>
<li>
<p>可在模板中定义和导入宏；</p>
</li>
<li>
<p>HTML 模板可使用自动换码功能，防止来自不受信任用户输入的 XSS；</p>
</li>
<li>
<p>沙箱环境可安全地呈现不受信任的模板；</p>
</li>
<li>
<p>支持异步，可生成无需额外语法即可自动处理同步和异步函数的模板；</p>
</li>
<li>
<p>通过 <code>Babel</code> 支持 I18N；</p>
</li>
<li>
<p>模板会及时编译为优化的 Python 代码并缓存，也可以提前编译；</p>
</li>
<li>
<p>精确展示模板中的异常行，使调试更容易；</p>
</li>
<li>
<p>可扩展过滤器、测试、函数甚至语法。</p>
</li>
</ul>
<h3 id="2">2. 安装</h3>
<p>建议使用最新版本的 Python。Jinja 支持 Python 3.7 及更新版本。建议使用虚拟环境，以便将项目依赖关系与其他项目和系统隔离。</p>
<p>使用 pip 安装最新版本的 Jinja：</p>
<pre class="codehilite"><code class="language-Shell">$ pip install Jinja2
</code></pre>

<h4 id="21">2.1 依赖项</h4>
<p><strong>安装 Jinja 时会自动安装这些依赖项。</strong></p>
<p><code>MarkupSafe</code> 会在渲染模板时转义不信任的输入，以避免注入攻击。</p>
<h4 id="22">2.2 可选依赖项</h4>
<p><strong>安装 Jinja 时不会自动安装。</strong></p>
<p><code>Babel</code> 在模板中提供翻译支持。</p>
<h4 id="23-api">2.3 基本API使用</h4>
<p>最基本的方式就是通过 <code>Template</code> 创建一个模板并渲染它。</p>
<pre class="codehilite"><code class="language-Shell">&gt;&gt;&gt; from jinja2 import Template
&gt;&gt;&gt; template = Template('Hello {{ name }}!')
&gt;&gt;&gt; template.render(name='test poo')
'Hello test poo!'
</code></pre>

<h3 id="3-api">3 API</h3>
<h4 id="31">3.1 基础知识</h4>
<p>Jinja 使用一个名为 "模板环境 "的中心对象。该类的实例用于存储配置和全局对象，并用于从文件系统或其他位置加载模板。即使您使用模板类的构造函数从字符串创建模板，也会自动创建一个环境。</p>
<p>配置 <code>Jinja</code> 为应用程序加载模板的最简单方法是使用 <code>PackageLoader</code>。</p>
<pre class="codehilite"><code class="language-Python">from jinja2 import Environment, PackageLoader, select_autoescape
env = Environment(
    loader=PackageLoader(&quot;yourapp&quot;)
    autoescape=select_autoescape()
)
</code></pre>

<p>这将创建一个带有加载器的模板环境，加载器会在 yourapp Python 软件包内的模板文件夹中查找模板。它还会启用 HTML 文件的自动换码功能。该加载器只要求 yourapp 是可导入的，它会为你找出文件夹的绝对路径。</p>
<p>不同的加载器可用于以其他方式或从其他位置加载模板。它们都列在下面的加载器部分。如果你想从更适合你的项目的来源加载模板，也可以自己编写。</p>
<p>要从该环境加载模板，请使用 get_template() 方法，它会返回已加载的模板。</p>
<pre class="codehilite"><code class="language-Python">template = env.get_template(&quot;mytemplate.html&quot;) 
</code></pre>

<p>调用 <code>render()</code> 方法用一些变量渲染模板。</p>
<pre class="codehilite"><code>print(template.render(the=&quot;variables&quot;, go=&quot;here&quot;))
</code></pre>

<p>使用模板加载器而不是向 Template 或 Environment.from_string() 传递字符串有很多好处。除了更容易使用外，它还能实现模板继承。</p>
<h4 id="32-api">3.2 高级API</h4>
<p>高级应用程序接口（High Level API）是您将在应用程序中使用的应用程序接口，用于加载和呈现 Jinja 模板。而低级应用程序接口（Low Level API）只有在你想深入研究 Jinja或开发扩展时才有用。</p>
<p>详见：<a href="https://jinja.palletsprojects.com/en/3.1.x/api/#high-level-api">https://jinja.palletsprojects.com/en/3.1.x/api/#high-level-api</a></p>
<h3 id="4">4 模板</h3>
<p><strong>简介</strong></p>
<p>Jinja 模板是一个简单的文本文件。Jinja 可以生成任何基于文本的格式（HTML、XML、CSV、LaTeX 等）。Jinja 模板不需要特定的扩展名：.html、.xml 或任何其他扩展名都可以。</p>
<p>一个模板包含变量和/或表达式，当模板被渲染时，这些变量和/或表达式将被替换为值；还包含标签，用于控制模板的逻辑。</p>
<p>下面是一个模板示例：</p>
<pre class="codehilite"><code class="language-HTML">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;title&gt;My Webpage&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;ul id=&quot;navigation&quot;&gt;
    {% for item in navigation %}
        &lt;li&gt;&lt;a href=&quot;{{ item.href }}&quot;&gt;{{ item.caption }}&lt;/a&gt;&lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;

    &lt;h1&gt;My Webpage&lt;/h1&gt;
    {{ a_variable }}

    {# a comment #}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>上面的示例显示了默认配置设置。应用程序开发人员可以将语法配置从 <code>{% foo %}</code> 更改为 <code>&lt;% foo %&gt;</code> 或类似内容。</p>
<p>有几种分隔符。Jinja 的默认分隔符配置如下：</p>
<ul>
<li>
<p>{% ... %} 用于语句</p>
</li>
<li>
<p>{{ ... }} 用于要打印到模板输出的表达式</p>
</li>
<li>
<p>{# ... #} 表示不包含在模板输出中的注释</p>
</li>
</ul>
<p>行语句和注释也可以使用，但它们没有默认的前缀字符。要使用它们，请在创建环境时设置 <code>line_statement_prefix</code> 和 <code>line_comment_prefix</code>。</p>
<p>详见：<a href="https://jinja.palletsprojects.com/en/3.1.x/templates/">https://jinja.palletsprojects.com/en/3.1.x/templates/</a></p>
<h3 id="5">5 集成</h3>
<h4 id="51-flask">5.1 Flask</h4>
<p>Flask 框架默认使用 Jinja 模板。Flask 会设置一个 Jinja 环境和模板加载器，并提供从视图函数轻松呈现模板的功能。</p>
<h4 id="52-django">5.2 Django</h4>
<p>Django 支持使用 Jinja 作为模板引擎，请参见 <a href="https://docs.djangoproject.com/en/stable/topics/templates/#support-for-template-engines。">https://docs.djangoproject.com/en/stable/topics/templates/#support-for-template-engines。</a></p>
<p>可集成的还有 <a href="https://jinja.palletsprojects.com/en/3.1.x/integration/#babel">Babel</a> 和 <a href="https://jinja.palletsprojects.com/en/3.1.x/integration/#pylons">Pylons</a></p>
<h3 id="6">6 实例</h3>
<ul>
<li><strong>渲染模板</strong></li>
</ul>
<p>在这个模板中，<code>{{ title }}</code>、<code>{{ heading }}</code> 和 <code>{{ name }}</code> 是变量，将在渲染时被替换。</p>
<pre class="codehilite"><code class="language-Python">from jinja2 import Template

# 模板字符串
template_string = &quot;&quot;&quot;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;{{ title }}&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;{{ heading }}&lt;/h1&gt;
    &lt;p&gt;嗨, {{ name }}!&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
&quot;&quot;&quot;

# 创建模板对象
template = Template(template_string)

# 渲染模板
print(template.render(title=&quot;测试一下&quot;, heading=&quot;欢迎一下&quot;, name=&quot;初学者&quot;)) 
</code></pre>

<p><strong>运行结果：</strong></p>
<pre class="codehilite"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;测试一下&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;欢迎一下&lt;/h1&gt;
    &lt;p&gt;嗨, 初学者!&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<ul>
<li><strong>控制结构</strong></li>
</ul>
<p>Jinja2支持常见的控制结构，例如条件判断和循环。下面是一个使用循环的例子：</p>
<pre class="codehilite"><code>&lt;ul&gt;
{% for item in item_list %}
    &lt;li&gt;{{ item }}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</code></pre>

<p>在Python代码中，提供一个列表来渲染这个模板：</p>
<pre class="codehilite"><code>print(template.render(item_list=[&quot;苹果&quot;, &quot;香蕉&quot;, &quot;橘子&quot;]))
</code></pre>

<ul>
<li><strong>模板继承</strong></li>
</ul>
<p>模板继承是Jinja2的一个强大功能。你可以创建一个基础模板，然后在其他模板中继承和扩展它。例如：</p>
<p><strong>基础模板（base.html）:</strong></p>
<pre class="codehilite"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;{% block title %}{% endblock %}&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    {% block body %}
    {% endblock %}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p><strong>子模板（child.html）:</strong></p>
<pre class="codehilite"><code>{% extends &quot;base.html&quot; %}

{% block title %}子页面标题{% endblock %}

{% block body %}
    &lt;p&gt;这是子页面的内容。&lt;/p&gt;
{% endblock %}
</code></pre>

<ul>
<li><strong>过滤器</strong></li>
</ul>
<p>Jinja2还提供了多种过滤器，用于转换变量。例如，使用 <code>capitalize</code> 过滤器将字符串的首字母大写：</p>
<pre class="codehilite"><code>&lt;p&gt;{{ &quot;hello world&quot; | capitalize }}&lt;/p&gt;
</code></pre>

<p>过滤器是可以自己定义的，详见：<a href="https://jinja.palletsprojects.com/en/3.1.x/api/#custom-filters">https://jinja.palletsprojects.com/en/3.1.x/api/#custom-filters</a></p>
<ul>
<li><strong>集成 flask</strong></li>
</ul>
<p><strong>安装 flask</strong></p>
<pre class="codehilite"><code>pip install flask
</code></pre>

<p><strong>项目结构</strong></p>
<pre class="codehilite"><code>flaskr/
│
├── templates/
│   └── index.html
│
└── flaskr.py
</code></pre>

<p><strong>创建Jinja2模板</strong></p>
<p>在 <code>templates</code> 目录下创建一个 <code>index.html</code> 文件，作为我们的 <code>Jinja2</code> 模板。这个模板将简单地展示一个传入的变量。</p>
<pre class="codehilite"><code class="language-HTML">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Flask with Jinja2&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Welcome to Flask with Jinja2&lt;/h1&gt;
    &lt;p&gt;Hello, {{ name }}!&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p><strong>Flask集成Jinja2</strong></p>
<p>在 <code>flaskr.py</code> 文件中，我们将创建一个FastAPI应用，并配置Jinja2环境。然后，我们将创建一个路由来渲染上面的模板。</p>
<pre class="codehilite"><code class="language-Python">from flask import Flask, render_template

# 创建我们的小程序 :)
app = Flask(__name__)

# 登陆页面
@app.route('/', methods=['GET', 'POST'])
def test():
    return render_template('index.html',name=&quot;test poo!&quot;)

if __name__ == '__main__':
    app.run()
</code></pre>

<p><strong>运行应用</strong></p>
<pre class="codehilite"><code>python flaskr.py
</code></pre>

<p>打开浏览器，访问 <code>http://localhost:5000</code>，你将看到由 <code>Jinja2</code> 模板渲染的页面，其中包含了从 <code>Flask</code> 路由传递的变量。</p>
        <div class="copyright">
          <ul>
            <li>本文作者：畄月寒</li>
            <li>本文链接：<a href="https://testpoo.github.io/Jinja2简介.html">https://testpoo.github.io/Jinja2简介.html</a></li>
            <li>版权声明：本铺所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans"> BY-NC-SA 4.0</a> 许可协议。转载请注明出处！</li>
          </ul>
        </div>
      </div>
    </div>
    <input class="pswitch ponoff" type="checkbox" id="nvacatalog">
    <div class="nav">
      <ul>
        
        <li><a href="https://testpoo.github.io/关于我.html"><span><label style="color: #38b6fd"></label>&nbsp;关于我</span></a></li>
        
        <li><a href="https://testpoo.github.io/网址集.html"><span><label style="color: #38b6fd"></label>&nbsp;网址集</span></a></li>
        
        <li><a href="https://testpoo.github.io/问题集.html"><span><label style="color: #38b6fd"></label>&nbsp;问题集</span></a></li>
        
        <li><a href="https://testpoo.github.io/中国朝代顺序口诀.html"><span><label style="color: #38b6fd"></label>&nbsp;中国朝代顺序口诀</span></a></li>
        
        <li><a href="https://testpoo.github.io/国际象棋棋子代号.html"><span><label style="color: #38b6fd"></label>&nbsp;国际象棋棋子代号</span></a></li>
        
        <li><a href="https://testpoo.github.io/CSS代码小抄.html"><span><label style="color: #38b6fd"></label>&nbsp;CSS代码小抄</span></a></li>
        
        <li><a href="https://testpoo.github.io/婚书两则.html"><span><label style="color: #38b6fd"></label>&nbsp;婚书两则</span></a></li>
        
        <li><a href="https://testpoo.github.io/debian安装设置.html"><span><label style="color: #38b6fd"></label>&nbsp;debian安装设置</span></a></li>
        
        <li><a href="https://testpoo.github.io/javascript代码小抄.html"><span><label style="color: #38b6fd"></label>&nbsp;javascript代码小抄</span></a></li>
        
        <li><a href="https://testpoo.github.io/python代码小抄.html"><span><label style="color: #38b6fd"></label>&nbsp;python代码小抄</span></a></li>
        
        <li><a href="https://testpoo.github.io/只有一个读音的九篇古文.html"><span><label style="color: #38b6fd"></label>&nbsp;只有一个读音的九篇古文</span></a></li>
        
        <li><a href="https://testpoo.github.io/独孤羊放妻春条书.html"><span><label style="color: #38b6fd"></label>&nbsp;独孤羊放妻春条书</span></a></li>
        
        <li><a href="https://testpoo.github.io/Arch通过archinstall安装过程.html"><span><label style="color: #38b6fd"></label>&nbsp;Arch通过archinstall安装过程</span></a></li>
        
        <li><a href="https://testpoo.github.io/Jinja2简介.html"><span><label style="color: #38b6fd"></label>&nbsp;Jinja2简介</span></a></li>
        
        <li><a href="https://testpoo.github.io/shell三剑客简介.html"><span><label style="color: #38b6fd"></label>&nbsp;shell三剑客简介</span></a></li>
        
        <li><a href="https://testpoo.github.io/Python造假数据神器Faker.html"><span><label style="color: #38b6fd"></label>&nbsp;Python造假数据神器Faker</span></a></li>
        
        <li><a href="https://testpoo.github.io/FastApi简析.html"><span><label style="color: #38b6fd"></label>&nbsp;FastApi简析</span></a></li>
        
        <li><a href="https://testpoo.github.io/go测试库apitest简介.html"><span><label style="color: #38b6fd"></label>&nbsp;go测试库apitest简介</span></a></li>
        
        <li><a href="https://testpoo.github.io/go入门.html"><span><label style="color: #38b6fd"></label>&nbsp;go入门</span></a></li>
        
        <li><a href="https://testpoo.github.io/Arch手动安装过程.html"><span><label style="color: #38b6fd"></label>&nbsp;Arch手动安装过程</span></a></li>
        
        <li><a href="https://testpoo.github.io/BeautifulSoup简介.html"><span><label style="color: #38b6fd"></label>&nbsp;BeautifulSoup简介</span></a></li>
        
        <li><a href="https://testpoo.github.io/tkinter教程.html"><span><label style="color: #38b6fd"></label>&nbsp;tkinter教程</span></a></li>
        
        <li><a href="https://testpoo.github.io/debian+openbox安装过程.html"><span><label style="color: #38b6fd"></label>&nbsp;debian+openbox安装过程</span></a></li>
        
        <li><a href="https://testpoo.github.io/面试问答.html"><span><label style="color: #38b6fd"></label>&nbsp;面试问答</span></a></li>
        
        <li><a href="https://testpoo.github.io/UI自动化测试神器-Cypress.html"><span><label style="color: #38b6fd"></label>&nbsp;UI自动化测试神器-Cypress</span></a></li>
        
        <li><a href="https://testpoo.github.io/如何用自动化测试搞垮团队.html"><span><label style="color: #38b6fd"></label>&nbsp;如何用自动化测试搞垮团队</span></a></li>
        
        <li><a href="https://testpoo.github.io/mysql函数汇总.html"><span><label style="color: #38b6fd"></label>&nbsp;mysql函数汇总</span></a></li>
        
        <li><a href="https://testpoo.github.io/shell简介.html"><span><label style="color: #38b6fd"></label>&nbsp;shell简介</span></a></li>
        
        <li><a href="https://testpoo.github.io/Docker入门教程.html"><span><label style="color: #38b6fd"></label>&nbsp;Docker入门教程</span></a></li>
        
        <li><a href="https://testpoo.github.io/性能监控各指令详解.html"><span><label style="color: #38b6fd"></label>&nbsp;性能监控各指令详解</span></a></li>
        
        <li><a href="https://testpoo.github.io/Python进阶.html"><span><label style="color: #38b6fd"></label>&nbsp;Python进阶</span></a></li>
        
        <li><a href="https://testpoo.github.io/Git简介.html"><span><label style="color: #38b6fd"></label>&nbsp;Git简介</span></a></li>
        
        <li><a href="https://testpoo.github.io/Python正则表达式.html"><span><label style="color: #38b6fd"></label>&nbsp;Python正则表达式</span></a></li>
        
        <li><a href="https://testpoo.github.io/nose简介.html"><span><label style="color: #38b6fd"></label>&nbsp;nose简介</span></a></li>
        
        <li><a href="https://testpoo.github.io/Python自动化之unittest.html"><span><label style="color: #38b6fd"></label>&nbsp;Python自动化之unittest</span></a></li>
        
        <li><a href="https://testpoo.github.io/debian+i3安装过程.html"><span><label style="color: #38b6fd"></label>&nbsp;debian+i3安装过程</span></a></li>
        
        <li><a href="https://testpoo.github.io/mysql的安装.html"><span><label style="color: #38b6fd"></label>&nbsp;mysql的安装</span></a></li>
        
        <li><a href="https://testpoo.github.io/紫薇斗数解析.html"><span><label style="color: #38b6fd"></label>&nbsp;紫薇斗数解析</span></a></li>
        
        <li><a href="https://testpoo.github.io/分分种学会python3.html"><span><label style="color: #38b6fd"></label>&nbsp;分分种学会python3</span></a></li>
        
        <li><a href="https://testpoo.github.io/Markdown笔记.html"><span><label style="color: #38b6fd"></label>&nbsp;Markdown笔记</span></a></li>
        
        <li><a href="https://testpoo.github.io/Linux下SVN服务器的搭建.html"><span><label style="color: #38b6fd"></label>&nbsp;Linux下SVN服务器的搭建</span></a></li>
        
        <li><a href="https://testpoo.github.io/mysql笔记.html"><span><label style="color: #38b6fd"></label>&nbsp;mysql笔记</span></a></li>
        
        <li><a href="https://testpoo.github.io/python标准异常.html"><span><label style="color: #38b6fd"></label>&nbsp;python标准异常</span></a></li>
        
        <li><a href="https://testpoo.github.io/svn命令全解.html"><span><label style="color: #38b6fd"></label>&nbsp;svn命令全解</span></a></li>
        
        <li><a href="https://testpoo.github.io/debian命令apt和dpkg用法.html"><span><label style="color: #38b6fd"></label>&nbsp;debian命令apt和dpkg用法</span></a></li>
        
      </ul>
    </div>
  </body>

  </html>