/* 通用 */
* {
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
}

a {
    color: #1183fb;
    text-decoration: none;
}

a:hover {
    color: #e66465;
}

div {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

body{ 
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: "Georgia","Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 16px\9;
    font-size: 1rem;
    background-color: hsla(0,0%,89.8%,.4);
  }

li {
    list-style-type: none;
}

/* 页面元素 */
#main {
    height: 100%;
    width: 100%;
}

#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

#navigation {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

#navigation #left {
    float: left;
    font-size: 24px;
}

#navigation #right {
    float: right;
}

#banner {
    background-color: #e9ecef;
    width: 1000px;
    padding: 50px;
    border-radius: 5px;
    margin: 70px auto 20px auto;
}

#banner h2 {
    font-size: 36px;
    line-height: 50px;
    color: #404040!;
}

#banner p {
    font-size: 20px;
    line-height: 30px;
    color: #404040;
}

.links {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.links h2 {
    font-size: 24px;
    line-height: 50px;
}

.links ul li {
    float: left;
    width: 266px;
    padding: 30px 27px;
    border-bottom: 1px solid #eee;
}

.links ul li img {
    float: left;
    width: 50px;
}

.links ul li .link {
    float: left;
    width: 216px;
    height: 50px;
    line-height: 25px;
    padding: 0px 10px;
    overflow: hidden;
}

.links ul li .link a {
    font-weight: bolder;
}

.links ul li .link #introduction {
    color: #999;
    font-size: 12px;
}

#category {
    width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
}

#category span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    margin-right: 1px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0px;
    background-color: #fff;
}

#footer {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
    color: #404040;
}

#footer a {
    color: #999;
}

#footer p br {
    display: none;
}

@media only screen and (max-width: 1000px) {
    #navigation, #banner, .links, #category, #footer {
        width: 100%;
    }

    #category span {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .links ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .links ul li {
        margin: 0 auto;
    }

    #footer p span {
        display: none;
    }

    #footer p br {
        display: block;
    }
}