/* 通用 */
* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;  
    -moz-box-sizing:border-box; /* Firefox */  
    -webkit-box-sizing:border-box; /* Safari */
}

html,body{
    width: 100%;
    height:100%;
    font-size: 14px;
    font-family: 'PingFang SC', 'Source Han Sans', '\601D\6E90\9ED1\4F53', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'Arial', 'sans-serif';
}

a { text-decoration: none;}

li {list-style-type:none;}

::-webkit-scrollbar {
  width: 5px;
} /* 这是针对缺省样式 (必须的) */

/*::-webkit-scrollbar-track {
  background-color: #b46868;
}*/ /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
  background-color: #e1e6ed; 
} /* 滑块颜色 */

/*::-webkit-scrollbar-button {
  background-color: #7c2929;
}*/ /* 滑轨两头的监听按钮颜色 */

/*::-webkit-scrollbar-corner {
  background-color: black;
}*/ /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

.mian {
    height: 100%;
    width: 100%;
}

.sider {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 501px;
    height: 100%;
    font-size: 16px;
    border-right: 1px solid #eceff4;
}

.sider .categories {
    float: left;
    width: 200px;
    height: 100%;
    color: #4e5a70;
    background: #f9fafb;
    overflow:auto;
}

.sider .categories img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 35px 75px;;
    text-align: center;
}

.sider .categories li {
    height: 36px;
    line-height: 36px;
    padding-left: 50px;
}

.sider .categories .github {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 200px;
    height: 52px;
    line-height: 52px;
    background: #f9fafb;
    border-top: 1px solid #eceff4;
    text-align: center;
}

.sider .categories .github a {
    display: inline-block;
    width: 40px;
}

.sider .articles {
    float: left;
    width: 300px;
    height: 100%;
    padding: 80px 0 40px 0;
    color: #4e5a70;
    background: #fff;
    overflow:auto;
}

.sider .articles h2 {
    position: absolute;
    top: 0;
    height: 80px;
    line-height: 80px;
    width: 300px;
    text-align: center;
    background: #fff;
}

.sider .articles li {
    height: 80px;
    width: 260px;
    margin: 10px auto;
    text-align: left;
    padding: 10px 0 0 20px;
    border-bottom: 1px solid #eceff4;;
}

.sider .articles li:hover {
    background: #f9fafb;
    border-radius: 10px;
    border: 0px;
}

.sider .articles li span{
    display: block;
    line-height: 30px;
}

.sider .articles li span:last-child{
    font-size: 12px;
    color: #a9b2c2;
}

.sider .articles .item-num {
    position: absolute;
    bottom: 0;
    width: 300px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 12px;
    color: #7a8599;
    border-top: 1px solid #f0f3f5;
    box-sizing: border-box;
    border-radius: 0 0 0 20px;
    background: #fff;
}

.main {
    padding-left: 501px;
}

.main .header {
    height: 80px;
    width: 100%;
    line-height: 80px;
    border-bottom: 1px solid #eceff4;
}

.main .header span:first-child{
    float: left;
    padding-left: 25px;
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
}

.main .header span:last-child{
    float: right;
    padding-right: 25px;
    text-align: right;
}