/* 通用 */
* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;  
    -moz-box-sizing:border-box; /* Firefox */  
    -webkit-box-sizing:border-box; /* Safari */
}

@font-face {
    font-family: 'testfont';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.woff2') format('woff2'),
    url('../fonts/FontAwesome.otf') format('otf'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body{
    width: 100%;
    height:100%;
    font-size: 14px;
    font-family: "Georgia","Arial","Microsoft YaHei","黑体","宋体",sans-serif,'testfont';
}

a {text-decoration: none;}

/*li {list-style-type:none;}*/

::-webkit-scrollbar {
  width: 5px;
} /* 这是针对缺省样式 (必须的) */

/*::-webkit-scrollbar-track {
  background-color: #b46868;
}*/ /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
  background-color: #e1e6ed; 
} /* 滑块颜色 */

/*::-webkit-scrollbar-button {
  background-color: #7c2929;
}*/ /* 滑轨两头的监听按钮颜色 */

/*::-webkit-scrollbar-corner {
  background-color: black;
}*/ /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

/*链接按钮*/
.linkbutton {
    display: inline-block;
    box-shadow: inset 0px 0px 2px #fff;
    -webkit-box-shadow: inset 0px 0px 2px #fff;
    -moz-box-shadow: inset 0px 0px 2px #fff;
    color: #fff;
    border: 1px solid #0e73e9;
    background-color: #0e73e9;
    border-radius: 5px;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    margin: 10px 0px;
    cursor: pointer;
    font-size: 14px;
}

.linkbutton a {
    color: #fff;
}

/*****开关*****/
.pswitch {
    position:relative;
    -webkit-touch-callout:none;
    cursor:pointer;
    overflow:hidden;
    width:42px;
    height:24px;
    border:1px solid #dddddd;
    border-radius:13px;
    -webkit-appearance:none;
    -webkit-user-select:none;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#fff;
}

.pswitch:before {
    content:"";
    width:22px;
    height:22px;
    line-height:24px;
    text-transform:uppercase;
    position:absolute;
    top:0;
    left:0;
    border-radius:50%;
    -webkit-border-radius:50%;
    background-color:#fff;
    box-shadow:0 1px 3px rgba(0,0,0,0.4);
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:0.2s ease-in;
    transition:0.2s ease-in;
    -webkit-transition-property:background-color,left;
    transition-property:background-color,left;
}

.pswitch:checked {
    border-color:#696969;
    background-color:#696969;
    color:#fff;
}

.pswitch:checked:before {
    left:20px;
}

.pswitch.ponoff {
    width:64px;
}

.pswitch.ponoff:before {
    content:"OFF";
    text-indent:27px;
}

.pswitch.ponoff:checked:before {
    content:"ON";
    left:40px;
    text-indent:-28px;
}

hr {
    background: linear-gradient(135deg, red, orange,green, blue, purple);
    --mask-image: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 6px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

.mian {
    height: 100%;
    width: 100%;
}

.sider {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 501px;
    height: 100%;
    font-size: 16px;
    border-right: 1px solid #eceff4;
}

.sider .categories {
    float: left;
    width: 200px;
    height: 100%;
    padding: 130px 0 60px 0;
    color: #4e5a70;
    background: #f9fafb;
}

.sider .categories .title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 130px;
    background-color: #f9fafb;
}

.sider .categories img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px 75px;;
    text-align: center;
}

.sider .categories .testpoo {
    width: 150px;
    margin: 0 0 0 25px;
    text-align: center;
}

.sider .categories .scrollheight {
    height: calc(100vh - 182px);
    overflow:auto;
}

.sider .categories .scrollheight a {
    text-decoration: none;
    color: #4e5a70
}

.sider .categories li {
    height: 36px;
    line-height: 36px;
    list-style-type:none;
}

.sider .categories .github {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 200px;
    height: 52px;
    line-height: 52px;
    background: #f9fafb;
    border-top: 1px solid #eceff4;
    text-align: center;
    font-family: "testfont";
    font-size: 24px;
}

.sider .categories .github a {
    display: inline-block;
    width: 40px;
    text-decoration: none;
    color: #4e5a70
}

.sider .articles {
    float: left;
    width: 300px;
    height: 100%;
    padding: 80px 0 40px 0;
    color: #4e5a70;
    background: #fff;
}

.sider .articles .category {
    position: absolute;
    top: 0;
    height: 80px;
    line-height: 80px;
    width: 300px;
    background: #fff;
    padding: 0 50px;
    color: #232d47;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    border-bottom: 1px solid #eceff4;
    overflow: hidden;
}

.sider .articles .scrollheight {
    height: calc(100vh - 111px);
    overflow:auto;
}

.sider .articles .scrollheight ul {
    padding: 0px;
}

.sider .articles .scrollheight a {
    text-decoration: none;
    color: #4e5a70
}

.sider .articles li {
    width: 260px;
    margin: 10px auto;
    text-align: left;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #eceff4;
    list-style-type:none;
    border-radius: 10px;
}

.sider .articles li:hover {
    background: #f9fafb;
    border: 0px;
}

.sider .articles li span{
    display: block;
    line-height: 30px;
}

.sider .articles li span:nth-child(2) {
    font-size: 12px;
    color: #a9b2c2;
}

.sider .articles li .tag {
    display: inline-block;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 5px;
    background: #eee;
}

.sider .articles li .tag:last-child {
    margin: 0px;
}

.sider .articles .item-num {
    position: absolute;
    bottom: 0;
    width: 300px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 12px;
    color: #7a8599;
    border-top: 1px solid #eceff4;
    box-sizing: border-box;
    border-radius: 0 0 0 20px;
    background: #fff;
}

.main {
    padding-left: 501px;
}

.main .header {
    height: 80px;
    width: 100%;
    line-height: 80px;
    background: #fff;
    border-bottom: 1px solid #eceff4;
}

.main .header span:first-child{
    float: left;
    padding-left: 25px;
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
}

.main .header span:last-child{
    float: right;
    padding: 15px 25px 15px 0px;
    text-align: right;
    color: #a9b2c2;
    line-height: 25px;
}

.main .posts {
    padding: 20px 200px;
    line-height: 30px;
    font-size: 16px;
    height: calc(100vh - 80px);
    overflow:auto;
}

.toc {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 300px;
    padding-top: 20px;
    height: calc(100vh - 111px);
    background-color: #fff;
    display: none;
    overflow: auto;
}

#catalog {
    position: absolute;
    top: 0px;
    left: 416px;
    margin: 28px 10px;
}

.toc ul {
    padding-right: 2em;
}

.toc li {
    list-style-type: none;
    border-bottom: 1px dotted #bbb;
}

.toc a {
    text-decoration: none;
    color: #4e5a70    
}

#catalog:checked~.posts>.toc{
    display: block;
}

.nav {
    display: none;
}

#nvacatalog {
    display: none;
}

.copyright {
    margin-top: 20px;
    padding: 5px 0px 5px 15px;
    background: #f5f5f5;
    border-left: 5px solid #0e73e9;
}

.copyright ul {
    padding: 0px;
    margin: 0px;
}

.copyright li {
    list-style-type: none;
}

@media only screen and (max-width: 1600px) {
    .main .posts {
        padding: 20px 100px;
    }

    .nav {
        display: none;
    }

    #nvacatalog {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    .main .posts {
        padding: 20px;
    }

    .nav {
        display: none;
    }

    #nvacatalog {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .main .posts {
        padding: 20px;
    }

    #catalog {
        display: none;
    }

    .toc {
        display: none;
    }

    .sider {
        display: none;
    }

    .main {
        padding-left: 0px;
    }

    .main .header span:last-child {
        display: none;
    }

    .nav {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 80%;
        height: 100%;
        overflow:auto;
        background: #f9fafb;
        color: #fff;
        padding: 20px;
    }

    .nav ul {
        margin: 0px;
        padding: 0px;
    }

    .nav li {
        line-height: 36px;
        list-style-type: none;
    }

    .nav li a {
        color: #4e5a70;
    }

    #nvacatalog {
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 28px 10px;
        display: block;
    }

    #nvacatalog:checked~.nav{
        display: block;
    }
}
